<link rel="stylesheet" type="text/css" href="/public/css/lesson.css">

<div>
    <p class="h-1">BİLGİSAYARLARDA VERİ SAKLAMA</p>            
</div>

<div>
    <p class="h-2">GİRİŞ</p>
    <p>
        Bilgisayarların dünyasında bizim kullandığımız onluk sayı sisteminin yeri olmadığını emini hepimiz biliyoruz. Bilgisayarlar, elektronik yapısını oluşturan milyonlarca transistörün açık ya da kapalı olduuğunu gösteren 0 ve 1 lerden oluşan ikilik sayı sıstemini kullanırlar. Bu durum, verilerin diske ya da belleğe kaydedilmesi veya okunması için de geçerlidir.
    </p>
    <p>
        Bir bellek birimi yarı iletken transistör denilen devre elemanlarından meydana gelir.
    </p>
    <p>
        Bir transistör kapatıldığında, elektriği iletir ve ikili sayı sistemindeki 1’i gösterir. Açık olduğunda ise elektriği iletmez ve ikili sayı sistemindeki 0’ı gösterir.
    </p>
    <p>
        Bu sistemde 0 ve 1 olmak üzere 2 tane sembol vardır ve bu sebeple ikili sayı sistemi(binary) denir. Her birine bir “dijit” denir ve bir biti temsil eder.
    </p>
    <p>
        Bit, bilgisayardaki en küçük bilgi birimdir. <span class="secondary">BIT </span>ifadesi de <span class="secondary">BI</span>nary digi<span class="secondary">T</span> ’ten gelmektedir. Sayı tabanı 2’dir.
    </p>
    <div class="inline">
        <div>
            <p>Bilgisayar sistemlerinde hafıza, byte adı verilen küçük saklama birimlerine bölünmüştür. Bir byte 8 bitten oluşur ve bu alan yalnızca küçük bir sayıyı ya da bir harfi saklamak için yeterlidir.</p>
            <p><i><b>Bit: </b>Dijital verinin en küçük ve temel ünitesidir. Bir bit, yalnızca 0 veya 1 değerini alabilir.</i></p>
            <p><i><b>Byte: </b>8 bitlik dizilim boyunca 0 ve 1 değerlerini kapsayan bellek ölçü birimidir. Bir byte ile 256 farklı dizilim oluşturulabilir.</i></p>
        </div>             
        <div>
            <img class="img-large" src="/public/img/measure.png"/>
        </div>         
    </div>
 
</div>

<div>
    <p class="h-2">BİLGİSAYARDA DİJİTAL VERİNİN SAKLANMASI</p>
</div>

<p class="h-3">Sayıların Saklanması</p> 

<div class="inline">
    <p>
        Bilgisayar sistemlerinde sayıların saklanabilmesi için, saklanacak değerin ikili sayı sistemindeki karşılığının bulunması gerekir. İkili sayı sistemine dönüştürme sonucunda elde edilen bitler, bilgisayar hafızasındaki byte alanlarına kaydedilir.
    </p>
    <div>
        <img class="img-small" src="/public/img/45.png"/>
    </div>
</div>

    <p>
        Bilgisayarda saklanacak sayının değeri arttığında, hafıza alanından daha fazla yer kullanmak gerekir. Örneğin 2 byte ile 16 bitlik sayılar oluşturulabilir. 2 byte kullanarak saklanabilecek en büyük sayı 65535’tir. Bu sayıdan daha büyük sayıları saklamak için daha fazla byte kullanmak gereklidir.
    </p>
    <p>
        Bilgisayarda negatif tam sayıları ve reel sayıları saklamakta mümkündür.Negatif sayıların bilgisayar hafızasında saklanmasında ikiye tümleyen yöntemi kullanılır. Reel sayıların bilgisayarda saklanmasında ise kayan noktalı gösterim (floating-point notation) kullanılır.
    </p> 
    <div>
        <img class="img-small" src="/public/img/2byte.png"/>
    </div>
    <p>
        <i><b>Kayan noktalı gösterim: </b>Reel sayıların bilgisayarda gösterilmesini sağlayan bir yöntemdir. Bu gösterimde, sayıların gerçek değerine en yakın şekilde bilgisayar ortamına taşınması amaçlanır.</i>
    </p>         


<div>
    <p class="h-3">Karakterlerin Saklanması</p>
    <p>
        Bilgisayar dünyasında harf, noktalama işareti, rakam ve bazı özel işaretler karakter olarak adlandırılır. Bilgisayardaki her karakter, belirli bir karakter setine aittir. Tüm veri tiplerinde olduğu gibi, karakterlerin bilgisayar hafızasında saklanabilmesi için ikili sayı sisteminde bir değere dönüştürülmesi gerekir.
    </p>
    <p>
        Bir karakter bilgisayar hafızasında saklanırken, öncelikle karakter kodlaması (character encoding) yapılır. Bu işlem sonucunda elde edilen onlu düzendeki sayı, ikili sayı sistemine dönüştürülür.
    </p>     
    <p>
        Bir kullanıcı, klavyede “a” harfine bastığında, aşağıdaki işlemler sırasıyla gerçekleşir:
    </p>
    <p class="madde">Bilgisayar sistemi klavyeden yapılan karakter girişini algılar.</p>
    <p class="madde">Girilen harfin ASC’ye göre karakter kodlaması yapılır. (ASC kod değeri bulunur)</p>
    <p class="madde">Kodlama sonucunda elde edilen “97” sayısı ikili sayı sistemine dönüştürülür.</p>
    <p class="madde">Dönüşüm sonucunda elde edilen “01100001” sayısı hafızada saklanır.</p>
    <p>
        <i><b>Karakter seti: </b>Bilgisayar donanımı ve yazılımı tarafından algılanabilen, belirli karakterleri kapsayan kümedir. Kümedeki her karaktere karşılık gelen bir sayı vardır.</i>
    </p>
    <p>
        <i><b>Karakter kodlama: </b>Bir karakterin, ait olduğu karakter setine göre şifrelenmesidir. Bilgisayar hesaplamalarında, veri saklamada, metinlerin iletiminde kullanılır. </i>
    </p>
    <p>
        Örnek vermek gerekirse, "KAR" kelimesi bilgisayar belleğinde (veya disk üzerinde) 01001011 01000001 01010010 sayı dizisi ile tutulur. ASCII tablosundaki Onluk (Decimal) sayı olarak karşılığı 75 65 82 dir.  
        B harfinin ASCII kod karşılığı 66 dır. 66 sayısı bilgisayarda ikilik sayı sistemindeki karşılığı olan 01000010 ile tutulur.
    </p>
</div>

<div>
    <p class="h-2">ASCII (American Standard Code for Information Language)</p>
    <p>
        Dilimize “Bilgi Değişimi İçin Amerikan Standart Kodlama Sistemi” olarak giren ASC, Latin alfabesi üzerine kurulu, 7 bitlik bir karakter kodlama şemasıdır. İlk kez 1963 yılında ANS (American National Standards Enstitute) tarafından standart olarak sunulmuştur. Bilgisayarlarda ve iletişim araçlarında kullanılan metinler, ASC kodları ile temsil edilir.
    </p>
    <p>
        ASC, modern karakter kodlama şemalarının öncüsüdür. Günümüzde kullanılan şemalarda birçok farklı karakter de olmasına rağmen, genel olarak ASC temel alınmıştır.
    </p>
    <p>
        ASC’de 33 adet kontrol karakteri ve 95 adet baskı karakteri olmak üzere toplam 128 karakter bulunur. 0-31 arasındaki sayılarla belirtilen kontrol karakterleri, metinlerin akışını kontrol eder. 32-126 arasındaki sayılarla belirtilen baskı karakterleri, ekranda görünen metinleri oluşturur. 127 sayısı ile belirtilen karakter ise silme işlemini yapan karakterdir. 
    </p>
</div>

<div>
    <P>ASCII KARAKTER KODLARI TABLOSU</P>
    <img class="img-large" src="/public/img/ascii-table.png"/>
</div>

<div style="height:25vh"></div>

