<link rel="stylesheet" type="text/css" href="/public/css/lesson.css">

<div>
    <p class="h-1">BİLGİSAYAR MİMARİSİ</p>            
</div>

<div>
    <p>
        Modern bilgisayar dünyasında, bilgisayarların kullanım alanları ve yerleri oldukça değişiklik göstermektedir. Farklı ihtiyaçları karşılamak için farklı tasarımlar geliştirilmiştir. Tüm bu farklılıklara rağmen, modern bilgisayarlar, aynı mimari yapıyı esas alır. Bu yapıya “Von Neumann Modeli” adı verilmiştir. 
    </p>         
</div> 

<div>
    <p class="h-2">Von Neumann Modeli</p>
    <p>
        Modern bilgisayarların yapısını oluşturan mimari modeldir. Amerikalı bilim adamı John von Neumann tarafından, 1945 yılında ortaya konulmuştur.
        İşlemci ve belleğin birbirinden ayrıldığı bu modelde, bilgisayarı oluşturan üç ana bileşen öngörülmüştür:
    </p>          
</div>

<div class="inline">
    <div> 
        <p class="madde">
            <b>Girdi/Çıktı Birimleri: </b>Kullanıcı ile bilgisayar arasındaki iletişimi sağlayan birimlerdir. Kullanıcı komutlarının girilmesi ve işlem sonuçlarının alınması, bu birimlerin temel görevidir.
        </p>
        <p class="madde">
            <b>Merkez İşlem Birimi: </b>Verilerin işlenmesinden sorumlu bileşendir. Programların çalışmasını ve işlemlerin yapılmasını sağlar.
        </p>
        <p class="madde">
            <b>Bellek: </b>Bilgisayarın kullanacağı veri deposudur. Bilgisayar tarafından işlenecek veriler, programlar ve komutlar, bu bileşende saklanır.
        </p>
    </div>
        
    <div>
        <img class="img-small" src="/public/img/neumann.png">
    </div>
</div>

<div>
    <p class="h-3">Von Neumann Engeli</p> 
    <p>
        İşlemci ve bellek arasındaki veri transfer hızı, bellek kapasitesine göre çok küçüktür. Bu transfer hızı, modern makinelerin işlemci hızıyla kıyaslandığında da oldukça yavaş kalmaktadır. Ortaya çıkan bu gecikmeden dolayı, işlemci bellekten alınacak veya belleğe gönderilecek veriyi beklemek durumunda kalır. İşlemci ve bellek arasındaki veri transferi dolayısıyla yaşanan bu kısıtlamaya Von Neumann Engeli adı verilmiştir.
    </p>
    <p>
        Von Neumann engelini ortadan kaldırmak veya etkisini azaltmak için birçok çalışma yapılmıştır. Bilgisayar ve işlemci mimarisinde değişikliklere yol açan çeşitli yöntemler geliştirilmiştir. Bu yöntemlerin başlıcaları ön bellek kullanımı (caching), paralel işleme (parallel processing), çoklu işleme (multithreading) ve küme hâlinde işleme (pipelining) olarak listelenir.
    </p>           
</div>

<div>
    <p class="h-2">DONANIM (Hardware)</p>            
</div>

<div>
    <p>
        Bilgisayarın fiziksel ve elektronik yapısını oluşturan bileşenlere donanım adı verilir. Bir bilgisayarı fiziksel yapısına göre değerlendirdiğimizde, bilgisayarın birçok donanım bileşeninden oluşan bir sistem olduğunu görmekteyiz. Bu sistemi oluşturan parçaların her birinin farklı bir görevi bulunmaktadır. İşletilebilir bir bilgisayara sahip olmak için, bu parçalar belirli bir düzen içerisinde bir araya getirilmelidir. Modern bilgisayarları oluşturan beş temel donanım bileşeni vardır:
    </p>            
</div>

<div class="inline">
    <div>
        <img class="img-large" src="/public/img/donanim.png"/>
    </div>

    <div>
        <p class="madde">Merkez İşlem Birimi (CPU – Central Processing Unit)</p>     
        <p class="madde">Ana Bellek (Main Memory)</p>
        <p class="madde">İkincil Depolama Aygıtları (Secondary Storage Devices)</p>
        <p class="madde">Girdi Aygıtları (Input Devices)</p>
        <p class="madde">Çıktı Aygıtları (Output Devices)</p>
    </div>
</div>

<div class="inline">
    <div>
        <p class="h-3">Merkezi İşlem Birimi</p>
        <p>
            Bilgisayarda programların çalışmasını ve işlemlerin yapılmasını sağlayan temel bileşen merkez işlem birimidir. Bilgisayarın beyni olarak da kabul edilen merkezi işlem birimi, bilgisayarın en önemli ve karmaşık parçasıdır.
        </p>
        <p>
            Modern bilgisayarlarda, merkezi işlem birimi olarak mikroişlemciler görev yapmaktadır. Bu işlemcilerin görevi, işlenecek veriyi ve kullanılacak programı belleğe yüklemek, verinin işlenmesini sağlamaktır. Fiziksel olarak çok küçük, performans olarak çok hızlıdırlar.
        </p>
    </div>
    <div>
        <img class="img-smallest" src="/public/img/cpu.jpg"/>
    </div>            
</div>

<div>
    <p class="h-3">Ana Bellek (Main Memory)</p>
    <p>
        Ana bellek, bilgisayarın çalışma esnasında kullandığı alandır. Bilgisayarda bir program yürütülürken, programın kendisi ve programla ilgili veri ana bellekte tutulur.
    </p>
    <p>
        Ana bellek, çoğunlukla rastgele erişimli bellek (RAM – Random Access Memory) olarak da adlandırılır. Bu tür belleklerde veriye erişim hızlı bir şekilde gerçekleşir. Günümüzde kullanılan kişisel bilgisayarların ana bellek kapasiteleri GB (Gigabyte) cinsinden belirtilir. 
    </p>
    <p>
        Ana bellekte yapılan işlemler kalıcı değildir. Bilgisayar kapatıldığında veya elektrik bağlantısı kesildiğinde, ana bellekteki içerik silinir.
    </p>
</div>

<div>
    <p class="h-3">İkincil Depolama Aygıtları</p>
    <p>
        Yardımcı bellek olarak da tanımlanan ikincil bellek, verinin uzun süre saklanmasına imkan sağlayan bellek türüdür. Bilgisayar kapatıldığında veya elektrik bağlantısı olmadığında, ikincil bellekteki bilgilerde herhangi bir kayıp yaşanmaz.
    </p>
    <p>
        Bilgisayarda programlar ve önemli veriler, ikincil depolama aygıtlarında saklanır. Bu programlar veya veriler, ihtiyaç duyulması hâlinde, ikincil bellekten ana belleğe taşınarak kullanılır.
    </p>
    <p>
        İkincil depolama aygıtlarının en sık kullanılan çeşidi sabit disklerdir. Genellikle tüm bilgisayarlarda gömülü bir sabit disk bulunmaktadır. Günümüzde sabit disklerin kapasitesi TB (Terabyte) seviyesine kadar çıkmıştır. Sıklıkla kullanılan diğer depolama aygıtları haric disk, CD (compact disc), DVD (digital versatile disc), manyetik teyp ve USB bellek olarak listelenebilir.
    </p>
</div>

<div>
    <p class="h-2">Girdi Aygıtları</p>
    <p>
        Kullanıcılardan veya farklı cihazlardan bilgisayara gelen her türlü veriye girdi adı verilir. Bu verilerin toplanması ve bilgisayara iletilmesi, girdi araçları tarafından gerçekleştirilir.
    </p>
    <p>
        Modern bilgisayarlarda en sık kullanılan girdi araçları klavye, fare, mikrofon, dijital kamera, tarayıcı ve barkod okuyucudur.
    </p>
</div>

<div>
    <p class="h-2">Çıktı Aygıtları</p>
    <p>
        Bilgisayarın kullanıcılar veya farklı cihazlar için oluşturduğu her türlü veriye çıktı adı verilir. Üretilen verilerin belirli bir formata çevrilmesi ve sunulması çıktı araçları ile yapılır.
    </p>
    <p>
        Modern bilgisayarlarda en sık kullanılan çıktı araçları monitör, yazıcı, hoparlör, kulaklık ve projektördür. 
    </p>
</div>

<div>
    <p class="h-2">Programlar Bilgisayarda Nasıl Çalışır?</p>            
</div>

<div>
    <img class="img-large" src="/public/img/programs.png"/>
</div>

<div>
    <p class="h-2">Programların Ana Belleğe Kopyalanması</p>
    <p>
        Bilgisayarlar, kullanıcı isteklerini karşılamak için çeşitli programlara ihtiyaç duyar. Bilgisayar açıldığında, işletim sistemi ve birçok program arka planda çalışmaya başlar. Bilgisayar kapanıncaya kadar, bu programlar çalışmaya devam ederler.
    </p>
    <p>
        Modern bilgisayar sistemlerinde yüzlerce programı bilgisayar sisteminde saklamak mümkündür. Bilgisayar sistemlerinde programların saklanması, genellikle ikincil depolama aygıtları ile yapılır. Bilgisayar kullanıcıları arasında “program yükleme” olarak adlandırılan bu işlem, bir programın web sayfası, CD, DVD, harici bellek gibi bir kaynaktan bilgisayarın sabit diskine kopyalanmasıdır. Bilgisayarın sabit diskinde veya farklı bir ikincil depolama alanında yeterli yer olduğu sürece, sisteme program yüklemeye devam edilebilir.
    </p>
    <p>
        Bilgisayar sisteminde bir programın çalışması için, o programın başlatılması ve ana belleğe kopyalanması gerekir. Bir programın başlatılmasını sağlayan komut, işletim sistemi, kullanıcı veya farklı bir yazılım tarafından verilebilir.
    </p>
    <p>
        Bir program başlatıldığında,  programın çalıştırılabilir hâli ve programın çalışması için gereken öncelikli dosyalar, saklandığı ikincil depolama aygıtından bilgisayarın ana belleğine kopyalanır. Bu kopyalama işlemi sayesinde, merkezî işlem birimi programa doğrudan ve hızlıca ulaşabilir. Örnek olarak, bir web sayfasında gezinti yapmak için, kullanacağımız web tarayıcısının simgesine tıklarız. Bu işlem sırasında web tarayıcı uygulaması, bilgisayarın sabit diskinden bilgisayarın ana belleğine kopyalanır. Merkezî işlem birimi, ana bellekteki program kopyasına erişir ve programdaki komutları çalıştırır. 
    </p>
</div>

<div>
    <p class="h-2">Program Komutlarının Çalıştırılması</p>
    <p>
        Bilgisayar sistemlerinde bir program ana belleğe kopyalandıktan sonra, programdaki komutlar merkezî işlem birimi tarafından çalıştırılabilir. Program komutlarının çalıştırılması için gerçekleşen adımlar aşağıda listelenmiştir:
    </p>
    <p class="madde">
        Bir programın başlatılması için merkezi işlem birimi, programa ait ilk komutu ana bellekten almalıdır.
    </p>
    <p class="madde">
        Merkez işlem birimi, adres yoluna komutun ana bellekte bulunduğu adresi koyar.
    </p>
    <p class="madde">
        Adres yolundaki bellek adresi sayesinde komut ana bellekte bulunur.
    </p>
    <p class="madde">
        Komut, veri yolu üzerinden ana bellekten merkezi işlem birimine taşınır.
    </p>
    <p class="madde">
        Komut, merkezi işlem birimi tarafından çözülür.
    </p>
    <p class="madde">
        Çözme işlemi sayesinde, merkez işlem birimi ne yapması gerektiğini belirler.
    </p>
    <p class="madde">
        Merkez işlem birimi, gerekli işlemi gerçekleştirir.
    </p>
    <p class="madde">
        Merkez işlem birimi, bilgisayarın diğer donanım bileşenlerine komutun işlendiğini belirten sinyaller gönderir.
    </p>

    <div>
        <img class="img-large" src="/public/img/cevrim.png"/>
    </div> 

    <p>
        Bir bilgisayarın merkezî işlem birimi, yukarıda belirtilen adımları sürekli olarak tekrarlamaktadır. Merkezî işlem birimi, bir komutu çalıştırdıktan sonra diğer bir komuta geçer ve bu döngü bilgisayar çalıştıkça devam eder. Bulma, çözme, çalıştırma adımlarından oluşan bu döngüye	“Komut çevrimi (Instruction Cycle)” adı verilir.
    </p>
</div>

<div>
    <i>Kaynak: T.C. Anadolu Üniversitesi Açıköğretim Fakültesi <br/>
    Bilgisayar ve Programlamaya Giriş Ders Kitabı</i>
</div>

<div style="height:25vh"></div>

