<link rel="stylesheet" type="text/css" href="/public/css/lesson.css">

<div>
    <p class="h-1">KODLARIMIZI NASIL YAZACAĞIZ ?</p>  
    <p>
        Yüksek seviyeli diller grıbunda yer alan programlama dilleri kullandığımız günlük dile oldukça yakın dillerdir ve kodların yazılması için (C dahil) herhangi bir özel editöre ihtiyaç duymazlar. Codlarımızı yazabilmek için bize Notepad, Vi, Gedit gibi basit bir metin editörü yeterlidir.
    </p>
    <p>
        Ancak kodlarımızı yazabilmek için kod editor (IDE) adı verilen çok daha gelişmiş editor programları da vardır (Visual Studio Code, Eclipse, Xcode, Notepad++ gibi). Bu editörler, yazılımın oluşturulması ve test edilmesi için gerekli olan tüm araçları bir arada kullanıcılara sunan yazılımlardır ve. herhangi bir yazılım oluşturulurken kodlamanın bütün yaygın teknikleri kod editörü tarafından geliştiriciye sunulduğu için işimiz bir hayli kolaylaştırırlar.
    </p>
    <p>
        Tabi bu kadar faydası olan Code editorlerinin özellikle dil öğrenmeye yeni başlayanlar için bazı zararlarının ve yan etkilerinin olması da kaçınılmaz.
    </p>
    <p>
        Öncelikle Kod Editörler, programın en sık kullanılan temel işlemlerini içeren araçlara sahip olduğu için, çoğu yazılım geliştirme ve anlamada hayati öneme sahip bu işlemleri, kuralları ve bilgileri öğrenme ihtiyacı hissetmeyiz. Çünkü ihtiyaç duymadığınız bir şeyi öğrenmek gereksiz bir külfettir. Her ne kadar teorik olarak size anlatılmış olsa bile pratikte uygulamadığınız, bunlarla cedelleşmediğiniz için bu bilgiler pekişmez, kalıcı hale gelmez. 
    </p>
    <p>
        Öğrenmeye çalıştığınız dilin, yazılımın aslında oldukça basit olan ve kolaylıkla öğrenebileceğiniz temel yapısı ve kuralları Code Editorun o karmaşık yapısı ve kalabalık araçları arasında size oldukça karmaşık görünür. Asıl ihtiyacınız olan temel bilgileri ve kuralları öğrenmek için sarf rtmeniz gereken enerjiyi kod editörün kompleks yapısını keşfedebilmek için harcarsınız. Bu nedenle eğitimcilerin büyük çoğunluğu Temel Programlama, Yazılım Geliştirme ve Dil Öğrenme eğitiminin ilk aşamasında kod editör kullanmazlar. Notepad, Vi, Gedit gibi çok daha basit yapıdaki metin editörlerini tercih ederler.
    </p>
    <p>
        Bu nedenle biz de başlangıçta kod editör yerine Notepad gibi basit bir metin editörü tercih edeceğiz.
    </p>     
</div>

<div style="height:25vh"></div>