<link rel="stylesheet" type="text/css" href="/public/css/lesson.css">

<div>
    <p class="h-1">PROGRAMLAMAYA GİRİŞ</p>            
</div>

<div>
    <img class="img-large" src="/public/img/temel.png">
</div>

<div>
    <p class="h-2">Programlamaya Giriş</p>
    <p>
        Günlük hayattaki bir sorunu bilgisayarla çözmek, bilgisayarların hayatımızdaki rutin işleri kolaylaştırmak amacıyla kullanılabilmesi için programlanması gerekmektedir. Bilgisayarlar, zekadan yoksun cansız makinelerdir. Düşünemezler, hissedemezler ve kendi başına hareket edemezler. Onlara hareket kazandıran şey, bileşenlerini oluşturan milyonlarca transistör aracılığı ile yön verilen elektrik enerjisidir.  Bu elektrik enerjisinin yönünü, transistörler aracılığı ile belirleyen, yazılımlardır. Yazılım olmadan bir bilgisayar, cansız bir elektronik çöp yığınından ibarettir.
    </p>
    <p>
        Bilgisayarlar, bizim konuştuğumuz dilden anlamazlar. Bilgisayarları çalıştıracak yazılımların, içerisinde barındırdığı milyonlarca transistörün açık veya kapalı konuma geçmesi anlamına gelen 0 veya 1 lerden oluşan makine dilinde yazılmaları gerekir. Ancak zamanla yazılımcılar konuştuğumuz dili bilgisayar diline çeviren programlar geliştirmiştir ve bu sayede bu gün artık konuştuğumuz dile oldukça yakın olan bu programlama dilleri kullanılarak daha kolay bir şekilde bilgisayar programları yazılabilmektedir. 
    </p>         
</div>

<div>
    <p class="h-2">Programlama Dilleri</p>
    <p>
        Yazılımcıların belirli bir algoritmayı ifade etmek için kullandığı, yapılacak işlemi bilgisayara anlatmak için kullanılan uyulması zorunlu kurallar kurallar bütünüdür. Günümüzde 150 den fazla programlama dili kullanılmaktadır.
    </p>
    <p>
        <i><b>Algoritma: </b>Bir problemin çözümünde uygulanan sistematik yöntemdir. Bir algoritmanın adımları açık, düzenli ve sıralı şekilde tanımlanmalıdır. Programlama dillerinin temeli algoritmaya dayanır.</i>
    </p>         
</div>

<div class="inline">
    <div>
        <p>Programlama dillerini zorluk seviyelerive göre 3 ana gurupta toplayabiliriz.</p> 
        <p class="madde">
            <b>Makine Seviyesindeki Diller: </b>Sadece 1’lerden ve 0’lardan oluşan komut dizisidir. Her bilgisayar sadece kendi mimarisi için tanımlanmış olan makine dilini anlayabilir. İnsanların komutları ve işlenecek verileri hata yapmadan ikilik sayı sisteminde girmeleri oldukça zordur. Aşağıda örnek bir makine dili kodu gösterilmektedir.
        </p>

        <div>
            <img class="img-large" src="/public/img/diller1.png">
        </div>

        <p class="madde">
            <b>Düşük Seviyedeki Diller: </b>Program geliştirme sürecini hızlandırmak için yüksek seviyeli programlama dilleri geliştirilmiştir. C++, Java, C#, Visual Basic gibi dillerde yazılan komutlar İngilizceye ve hesaplama işlemleri de gerçek hayatta kullandığımız matematiksel ifadelere çok yakındır. Derleyici adı verilen programlar yazılan komutları makine diline çevirmektedirler.
        </p>

        <p class="madde">
            <b>Yüksek Seviyedeki Diller: </b>Program geliştirme sürecini hızlandırmak için yüksek seviyeli programlama dilleri geliştirilmiştir. C++, Java, C#, Visual Basic gibi dillerde yazılan komutlar İngilizceye ve hesaplama işlemleri de gerçek hayatta kullandığımız matematiksel ifadelere çok yakındır. Derleyici adı verilen programlar yazılan komutları makine diline çevirmektedirler.
        </p>

        <p>
            Bir dilin seviyesi düştükçe zorluk seviyesi artmaktadır. Fakat donanıma daha yakın olması nedeniyle çalışma hızı da artmakta ve yüksek seviyedeki bir dile göre program daha etkin kullanabilmektedir. Düşük seviyeli diller genelde sistem programlama, mikroişlemci programlama vb. alanlarda kullanılmaktadır. Zaman ve kolaylık açısından baktığımızda ise yüksek seviyeli diller göze çarpmaktadır.
        </p>
    </div>
</div>

<div>
    <img class="img-large" src="/public/img/diller.png">
</div>

<div style="height:25vh"></div>