<style>
    .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: calc(100vh - 200px);
        width: 100%;
        align-items: center;
    }

    .main-img{
        width:75%;
        margin-inline: 10%;
    }

    .icon{
        height: 2em;
        width: 2em;
        margin-right: 1em;
    }

    .line{
        display: flex;
        align-items: center;
        margin-block: 1em;
    }
</style>

<div class="main">
    <div>
        <img class="main-img" src="/public/img/computer-3.png"/>
    </div>
    <div>
        <h2>Temel Bilgiler</h2>
        <p>Bu bülüm bilgisayarların yapısı ve çalışma prensipleri ile ilgili genel bilgiler içerir.</p>
        <div class="line">
            <div>
                <img class="icon" src="/public/img/computer-1.png"/>  
            </div>
            <div>
                <a href="/computer/mimari">Bilgisayar Mimarisi</a>
            </div>  
        </div>

        <div class="line">
            <div>
                <img class="icon" src="/public/img/os.png"/>  
            </div>
            <div>
                <a href="computer/os">İşletim Sistemleri</a>
            </div>  
        </div>

        <div class="line">
            <div>
                <img class="icon" src="/public/img/folders.png"/>  
            </div>
            <div>
                <a href="computer/folders">Dosya ve Klasör Yönetimi</a>
            </div>  
        </div>
    
        <div class="line">
            <div>
                <img class="icon" src="/public/img/cmd.png"/>  
            </div>
            <div >
                <a href="computer/command">Konsol Ekranını Kullanma<br/>Temel Dosya (file) ve Dizin (Directory) İşlemleri</a>
            </div>  
        </div>
    
        <div class="line">
            <div>
                <img class="icon" src="/public/img/folders.png"/>  
            </div>
            <div>
                <a href="computer/path">PATH (Erişim Yolu) nedir, nasıl kullanılır?</a>
            </div>  
        </div>
    
        <div class="line">
            <div>
                <img class="icon" src="/public/img/data.png"/>  
            </div>
            <div>
                <a href="computer/datastorage">Veriler Bilgisayarda Nasıl Saklanır?</a>
            </div>  
        </div>

        <div class="line">
            <div>
                <img class="icon" src="/public/img/sayi.png"/>  
            </div>
            <div>
                <a href="computer/sayi">Sayı Sistemleri</a>
            </div>  
        </div>
    </div>            
</div>