<link rel="stylesheet" type="text/css" href="/public/css/cube.css">

<style>
	.main{
		display: flex;
		height: calc(100vh - 200px);
		width: 100%;
		color:aliceblue;
		align-items: center;
		justify-content: space-around;
	}
</style>

<div class="main">
	<div style="min-width: 300px;">
		<h4>Hello</h4>
		<h1>I'm Erdoğan<br/> Bül<span class="secondary">bül</span></h1>
		<h3>Blockchain Developer</h3>
	</div>

	<div class="cube-base"  style="min-width: 500px; min-height: 500px;">
		<div class="cube animate">
			<div class="surface surface-1"></div>
			<div class="surface surface-2"></div>
			<div class="surface surface-3"></div>
			<div class="surface surface-4"></div>
			<div class="surface surface-5"></div>
			<div class="surface surface-6"></div>

			<div class="mirror mirror-1"><span class="mirror-text text-center">Net Core<br/>MVC</span></div>
			<div class="mirror mirror-2"><span class="mirror-text text-center"><p>C#</p></span></div>
			<div class="mirror mirror-3"><span class="mirror-text text-center">Node JS</span></div>
			<div class="mirror mirror-4"><span class="mirror-text text-center">React Js</span></div>
			<div class="mirror mirror-5"><span class="mirror-text text-center">HTML<br/>CSS<br/>JavaScript</span></div>
			<div class="mirror mirror-6"><span class="mirror-text-up text-center">Solidity</span></div>

			<div class="mirror-back mirror-1"></div>
			<div class="mirror-back mirror-2"></div>
			<div class="mirror-back mirror-3"></div>
			<div class="mirror-back mirror-4"></div>
			<div class="mirror-back mirror-5"></div>
			<div class="mirror-back mirror-6"></div>
		</div>
	</div>       
</div>

<script src="/public/js/cube.js"></script>
