#calculator {
	width: 250px;
	height: 350px;
	position:fixed;
    top: 10%;
	right: 3%;
	background: #f3f0f1;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 3px;
	text-align: center;
	overflow: hidden;
}

#calculator .titlebar{
    display:flex; 
    width:94%; 
    height:8%; 
    margin-left: 5%; 
    justify-content: space-between;
    cursor: move;
}

#calculator .bulets{
    height: 70%;
    width: 20%;
    display: flex;
    align-items: center;
}

#calculator .bulets div{
    height: 35%;
    aspect-ratio: 1/1;
    margin: 1px;
    border-radius: 50%;
}

#calculator .bulets div:nth-child(1){
    background-color:#6f6cde;
}

#calculator .bulets div:nth-child(2){
    background-color: greenyellow;
}

#calculator .bulets div:nth-child(3){
    background-color: orangered;
}

#calculator .title{
    display: flex;
    align-items: center;
    text-align: center;
}

#calculator .close{
    display: flex;
    width: 20%;
    height: 100%;
    justify-content: end;
}

#calculator .close div{
    height: 60%;
    aspect-ratio: 1/1; 
    background-color: rgba(128, 128, 128, 0.393);
    margin-top: 2px;
    border-radius: 2px;
    cursor: pointer;
    color:white;
    font-size: 0.9rem;
}

#calculator .screen{
    width:90%; 
    height:18%; 
    background-color: white; 
    margin-inline: auto;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#calculator .screen .header{
    display: flex;
    justify-content: space-between;
    height: 1em;
    padding: 3px;
    padding-right: 5px;
}

#calculator .screen .spnStr{
    width: 98%;
    height: calc(100% - 1em);
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1.5rem;
}

#calculator .screen .spnMem, #calculator .screen .spnSum{
    font-size: 0.9rem;
    position: relative;
}

#calculator .screen .spnMem::after{
    position: absolute;
    left: 4px;
    top: -13px;
    font-size: 0.7rem;
    content: "Mem";
    color:cadetblue;
    z-index: 1;
}

#calculator .screen .spnSum::after{
    position: absolute;
    right: 3px;
    top: -15px;
    font-size: 0.7rem;
    content: "Sum";
    color:cadetblue;
    z-index: 1;
}

#calculator .grid{
    display:grid;
    grid-template-columns: repeat(4, auto); 
    grid-template-rows: repeat(6, auto);
    height: 65%;
    width: 90%;
    margin-top:7%;
    margin-inline: auto;
    gap: 8px;
}

#calculator .grid div {
  width: 100%;
  height: 100%;
  background: #f3f0f1;
  position: relative;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 0.8), 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: #6f6cde;
  transition: all 0.1s ease-in-out;
  font-weight: 700;
}

#calculator .grid .active{
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 4px 4px 8px rgba(0, 0, 0, 0.1);
    color: #79e3b6;
}








