:root{
    --width: 70px;
    --instance : calc(var(--width)* 3.5)
}

.cube-base {
    perspective: 6000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: orangered;
}

.cube { 
    position: relative;
    width: calc(var(--width) * 2);
    height: calc(var(--width) * 2);
    display: flex;
    justify-content: center;
    align-items: end;
    transform-style: preserve-3d;
    transform: rotateZ(0deg) rotateX(35deg) rotateY(135deg);
    transition: 1s;
}

.cube:hover{
    transform: rotateZ(0deg) rotateX(-35deg) rotateY(315deg);
}

.animate{
    animation: spin 0.6s linear;
}

.surface {
    width:100%;
    height:100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: ridge;
    transform-origin: center center;
    background-color:rgb(194, 167, 158);
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center;
    top: 0;
    left: 0
}

.surface-1 {
    transform: translateZ(var(--width));
    background-image: url("/public/img/net-core.svg");
}

.surface-2 {
    transform: rotateY(90deg) translateZ(var(--width));
    background-image: url("/public/img/c-sharp.svg");
}

.surface-3 {
    transform: rotateY(180deg) translateZ(var(--width));
    background-image: url("/public/img/nodejs.svg");
}

.surface-4 {
    transform: rotateY(270deg) translateZ(var(--width));
    background-image: url("/public/img/react.svg");
}

.surface-5 {
    transform: rotateX(90deg) translateZ(var(--width));
    background-image: url("/public/img/html.svg");
}

.surface-6 {
    transform: rotateX(270deg) translateZ(var(--width));
    background-image: url("/public/img/solidity-icon.svg");
}

.mirror {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%; 
 
    background: gainsboro;
    border: 2px solid yellow;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
}

.mirror::before{
  content: "";
  background: rgba(255, 255, 255, 0.4);
  width: 60%;
  height: 100%;
  top: 0%;
  left: 40%;
  transform: skew(35deg);
  position: absolute;
}


.mirror-back {
    position: absolute;
    width: 100%;
    height: 100%; 
    background-color: gray;
    backface-visibility: hidden;
    border: 2px solid white;
    border-radius: 0.5rem;

}

.mirror-1 {
    transform: translateZ(var(--instance));
}

.mirror-2 {
    transform: rotateY(90deg) translateZ(var(--instance));
}

.mirror-3 {
    transform: rotateY(180deg) translateZ(var(--instance));
}

.mirror-4 {
    transform: rotateY(270deg) translateZ(var(--instance));
}

.mirror-5 {
    transform: rotateX(90deg) translateZ(var(--instance));
}

.mirror-6 {
    transform: rotateX(-90deg) translateZ(var(--instance));
}

.mirror-text{
    transform: rotateY(180deg);
}

.mirror-text-up{
    transform: rotateY(180deg) rotateZ(90deg);
}




@keyframes spin {
    0% {
        transform: rotateZ(-180deg) rotateX(100deg) rotateY(100deg) scaleX(0.5) scaleY(0.5) scaleZ(0.5);
    }

    100% {
         transform: rotateZ(0deg) rotateX(35deg) rotateY(135deg) scaleX(1) scaleY(1) scaleZ(1);
    }
}

