input{
    text-align: right;
    height: 1.5em;
}

.cube-base{
    position: relative;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 3000px;
}

.cube{
    position: absolute;
    transform-style: preserve-3d;
    /*transform: rotateX(45deg) rotateY(45deg);*/
}

.face{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    font-size: xx-large;
    font-weight: bold;
    color: black;
}

.front{
    background-color: aqua;
    transform: translateZ(150px);
}

.back{
    background-color:brown;
    transform: rotateY(180deg) translateZ(150px);
}

.left{
    background-color:blue;
    transform: rotateY(90deg) translateZ(150px);
}

.right{
    background-color:crimson;
    transform: rotateY(270deg) translateZ(150px);
}

.top{
    background-color:cadetblue;
    transform: rotateX(90deg) translateZ(150px);
}

.bottom{
    background-color:yellow;
    transform: rotateX(270deg) translateZ(150px);
}