.h-1{
    color:orange;
    font-size: x-large;
    font-weight: bold;
    margin-top: 3em;
}

.h-2{
    color:orange;
    font-size: large;
    font-weight: bold;
    margin-top: 2em;
}

.h-3{
    color:orange;
    font-size:medium;
    font-weight: bold;
    margin-top: 1em;
}

img{
    opacity: 0.8;
    object-fit: contain;
    margin: 1em;
}

.img-smallest{
    width: 300px;
}

.img-small{
    width: 500px;
}

.img-large{
    width: 700px;
}

.inline{
    display: flex;
    align-items: center;
}

.madde{
    padding-left: 2rem;
}

.madde:before{
    color: gray;
    content : "■ "
}

.code{
    color: gainsboro;
    font-family: 'Courier New', Courier, monospace;
}