<div style="display:flex; width: 100%; justify-content:end">
	<button style="height: 34px; border-radius:5px;" onclick="openCalculator()">Hesap Makinesi</button>
</div>

<link rel="stylesheet" on type="text/css" href="/public/css/calculator.css">
<script src="/public/js/calculator.js"></script>
