<link rel="stylesheet" type="text/css" href="/public/css/cube-example.css">

<div style="display:flex; align-items: center;">
	<div style="margin-left: 1em;">Küp boyutu :</div>
	<input id="size" type="text" size="3" maxlength="3" value="300" onblur="cubeSize()">
	<span> px</span><br/>

	<div style="margin-left: 1em;">Rotate : X</div>
	<input id="x" type="text" size="3" maxlength="4" onblur="rotate()">
	<span> deg </span>

	<div style="margin-left: 1em;">Y</div>
	<input id="y" type="text" size="3" maxlength="4" onblur="rotate()">
	<span> deg </span>

	<div style="margin-left: 1em;">Z</div>
	<input id="z" type="text" size="3" maxlength="4" onblur="rotate()">
	<span> deg </span>

	<div style="margin-left: 1em;">Opacity : </div>
	<input id="opac" type="text" size="3" maxlength="3" value="70" onblur="opac()">
	<span> /100 </span>

	<div style="margin-left: 1em;">Perspective : </div>
	<input id="pers" type="text" size="3" maxlength="5" value="3000" onblur="perspect()">
	<span> px </span>

	<input id="move" type="button" value="Rotate" style="margin-left: 2em; padding:5px" onclick="modChange()">
	
	<p id="move-note" style="color:red; margin-left:1em">Mouse ile tutup taşıyabilirsiniz.</p>
</div>
<div class="cube-base">
	<div id="cube" class="cube" onmouseover="changeCursor()" onmouseleave="cursorDefault()">
		<div class="face front">Ön</div>
		<div class="face back">Arka</div>
		<div class="face left">Sol</div>
		<div class="face right">Sağ</div>
		<div class="face top">Üst</div>
		<div class="face bottom">Alt</div>
	</div>
</div>